{% extends 'base.html' %}


{% block titleContent %}
    <h2 class="title text-center h2"><strong>FAQ's</strong></h2>
{% endblock %}


{% block mainContent %}


    <p><strong>How can I login?</strong></p>
    <p>Click on Login button at the top right corner or if you're using our mobile version click on the menu
        button in the navigation bar and afterwards on the appearing login button</p>

    <p><strong>How can I subscribe for the newsletter?</strong></p>
    <p>Click on the link >Join our newsletter< in the footer of the website or just follow this <a href="/signup_newsletter">link.</a></p>



{% endblock %}

{% block sideContent %}
    <!-- empty-->
{% endblock %}