{% extends 'base.html' %}


{% block titleContent %}
    <h2 class="title text-center h2"><strong>FAQ's</strong></h2>
{% endblock %}


{% block mainContent %}


    <p><strong>How can I login?</strong></p>
    <p>Click on 'Login' button at the top right corner or if you're using our mobile version click on the menu
        button in the navigation bar and afterwards on the appearing login button</p>

    <p><strong>How can I subscribe for the newsletter?</strong></p>
    <p>Click on the link >Join our newsletter< in the footer of the website or just follow this <a href="/signup_newsletter">link.</a></p>

    <p><strong>How can I unsubscribe from the newsletter?</strong></p>
    <p>Click on the link >Join our newsletter< in the footer of the website, and in the bottom of that page you will find the link to unsubscribe. Alternatively, you can just follow this <a href="/unsubscribe_newsletter">link.</a></p>

     <p><strong>How can I add a recipe?</strong></p>
    <p>Click on the 'Create Here!' button in our homepage or just follow this <a href="/addrecipe">link.</a> Please be aware that only registered users can add new recipes.</p>



{% endblock %}

{% block sideContent %}
    <!-- empty-->
{% endblock %}