{% extends 'base.html' %}

{% block titleContent %}
    {% if user.is_authenticated %}
        <h1 class="title text-center h1"> Hello, {{ user.get_username }}! Welcome back to FIM's cookbook!</h1>
        <h2 class="text-center" style="font-family: 'Great Vibes', cursive;"> What are you going to cook today?</h2>
    {% else %}
        <h1 class="title text-center h1"> Welcome to FIM's cookbook!</h1>
        <h2 class="text-center" style="font-family: 'Great Vibes', cursive;"> Take a look on the delicious recipes</h2>
    {% endif %}
{% endblock %}


{% block mainContent %}
    <!--Define the Columns (Bootstrap has always 12 Columns which can be divided-->

    <h3>Recipe of the Day</h3>
    <a class="recipe-link" href="/viewrecipe/{{ recipeOfDay.RecipeId }}">
        <h4 class="recipe-link"> {{ recipeOfDay.RecipeName }}</h4>
    </a>
    <div class="row" id="recipeofday">
        <!-- Columns: 4+3+3 =10 -> Rest 2 -->
        {% include 'recipe_of_day.html' %}

        <div class="col-sm-2">
            {% if user.is_authenticated %}
                <p>
                    New recipe?
                <form action="{% url 'add-recipe' %}">
                    <input type="submit" class="btn btn-info" value="Create here!"/>
                </form>
                </p>

            {% else %}

                <p>
                <form action="/login">
                    <input type="submit" class="btn btn-info" value="Login here"/>
                </form>
                <br>
                <p>or</p>

                <form action="/reg">
                    <input type="submit" class="btn btn-success" value="Register"/>
                </form>
                </p>
            {% endif %}

        </div>


    </div> <!-- End of row recipe of the day-->
    <hr>
    <h3> Suggestions</h3>
    <br>
    <!-- Include Side-Nav-Bar for switching between: All, Favourites, Starters, Main Courses, Desserts-->
    {% include 'side_nav_bar.html' %}
    {%if Message%}
    <br>
    <p>{{Message}}</p>
    {%endif%}
    <br>
    <!-- Create Grid with all recipes-->
    <div class="allRecipes">
        <div class="row">
            {% for recipe in allRecipes %}
                {% if forloop.counter|divisibleby:3 %}
                    <!-- last item of row: forloop.counter(e.g. 3,6,9):3=divisble without rest-->

                    {% include 'recipe_for_grid.html' %}

                    </div> <!--end of row-->

                    {% if not forloop.last %}
                        <br>
                        <div class="row">
                    {% endif %}
                {% else %} <!--item isn't divisible (1,2 item of a row) -->
                    {% include 'recipe_for_grid.html' %}
                {% endif %}
            {% endfor %}


    </div>
{% endblock %}

{% block sideContent %}
    <p> You can use the filters above to select the recipes according to your wishes.</p>
{% endblock %}

<script>
// Save Y Offset Position to localStorage
/*const recordVerticalOffset = () => {

  localStorage.setItem('pageVerticalPosition', window.scrollY);
}

// Only save window position after scrolling stops
const throttleScroll = (recordVerticalOffset, delay) => {

  let time = Date.now();

  return () => {
    if ((time + delay - Date.now()) < 0) {
      recordVerticalOffset();
      time = Date.now();
    }
  }
}

// Scroll Event Listener
window.addEventListener('scroll', throttleScroll(recordVerticalOffset, 1000));


const repositionPage = () => {

  let pageVerticalPosition = localStorage.getItem('pageVerticalPosition') || 0;

  window.scrollTo(0, pageVerticalPosition);
}

window.addEventListener('load', repositionPage);*/


/*
let sidebar = document.querySelector(".sidebar");

let top = localStorage.getItem("sidebar-scroll");
if (top !== null) {
  sidebar.scrollTop = parseInt(top, 10);
}

window.addEventListener("beforeunload", () => {
  localStorage.setItem("sidebar-scroll", sidebar.scrollTop);
});

*/
</script>