{% extends 'base.html' %}

{% block titleContent %}
    <h1 class="title text-center h1"> Welcome to FIM's cookbook!</h1>
    <h2 class="text-center"> Take a look on the delicious recipes</h2>
    <hr>  <!-- just a section line to seperate-->
{% if user.is_authenticated %}
            <p>You're logged in</p>
        {% else %}
            <p><a href="/login">Login here!</a></p>
        {% endif %}
{% endblock %}

{% block mainContent %}

    <!--Define the Columns (Bootstrap has always 12 Columns which can be devided-->
    <div class="row">
        <div class="col-sm-8">
            <h3> Suggestions</h3>
            <div class="row" id="suggestions-row-1">
                <div class="col-sm-4">
                    Some Content
                </div>
                <div class="col-sm-4">
                    Some Content
                </div>
            </div>
            <div class="row" id="suggestions-row-2">
                <div class="col-sm-4">
                    Some Content
                </div>
                <div class="col-sm-4">
                    Some Content
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h3> Recipe of the Day:</h3>
            <h3> {{ title }}</h3>
            <!--Picture/Bild height="300" width="500"-->
            <!-- <img   width= 350vw alt="Bild_Lernmittel" src="Lernmittel.png"> -->
            {% load static %}
            <img class="img-responsive img-circle" src="{% static "images/tacos.jfif" %}"
                 alt="Picture from recipe of the day"/>
            Some content
        </div>
    </div>

    <br>

    <p> Type p>lorem and press TAB to insert Lorem ipsum Text</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquid consectetur earum enim est et fuga, fugiat
        ipsam officiis optio placeat quasi repellendus rerum sit tempora unde veritatis vitae.
        <mark>jedem Campus</mark>
         <br> <b>some bold text</b> and now som normal text
        <br>Text after linebreak
    </p>

    <ul>
        <li>bullet point 1</li>
        <li>bullet point 2</li>
        <ul>
            <li>bla</li>
            <li>bla</li>
            <li>bla</li>
            <li>bla</li>
        </ul>
        <li>bla</li>
    </ul>
{% endblock %}


{% block sideContent %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda cupiditate dicta doloribus enim
        illum impedit libero minus nobis, nostrum numquam perferendis, sequi similique soluta suscipit, veritatis
        voluptatibus! Neque, vero.</p>
    <p>Ordered List following::</p>

    <ol>
        <li>list entry with <a href="webshop.html">link 1</a></li>
        <li>list entry with <a href="oeffnungszeiten.html">link 2</a> to a random page</li>
    </ol>

{% endblock %}