<div class="col-md-4">
    <a class="recipe-link" href="/viewrecipe/{{ recipe.RecipeId }}">

        {% if recipe.Picture %}
        <img class="img-responsive img-circle rounded" style="max-width: 230px;" src="{{ recipe.Picture.url }}"
             alt="Picture from recipe">
        {% else %}
        <!-- If there is no Picture show this:-->
        {% load static %}
        <img class="img-responsive img-circle rounded" style="max-width: 230px;"
             src="{% static " images/no-image-icon-8.jpg" %}"
        alt="Icon no image existing">

        {% endif %}
        <form method="POST" action="/add_recipe_to_favourites/">
            {% csrf_token %}
            <input type="hidden" name="RecipeId" value="{{ recipe.RecipeId }}">
            <input class="btn btn-secondary" type="submit" value="&#9825">

        </form>
        </img>
        <br>
        <p><span class="center-block">{{ recipe.RecipeName }}</span>
            <span style="font-weight: normal; font-style: italic ">by {{ recipe.UserId.username }}</span>
        </p>
    </a>
    <form method="POST" action="/add_recipe_to_favourites/">
        {% csrf_token %}
        <input type="hidden" name="RecipeId" value="{{ recipe.RecipeId }}">
        <!--<input class="btn btn-secondary" type="submit" value="&#9825 &#9829">-->
    </form>
</div>