{% extends 'home.html' %}

{% block recipeTopContent %}
    <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="/docs/4.0/getting-started/introduction/">
                Categories
            </a>

            <ul class="nav bd-sidenav">
                <li>
                    <a href="/docs/4.0/getting-started/introduction/">
                        Introduction
                    </a></li>
                {% for category in categories %}
                    <li><a href="?category={{ category.CategoryId }}">
                    <li>{{ category.Name }}</li></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>

{% endblock %}

{% block recipeContent %}
    <form method="GET">
        <select name="filter">
            <option value="all">Alle</option>
            <option value="favourites">Favoriten</option>
        </select>
        <input type="submit" value="Filtern">
    </form>

    {% if user.is_authenticated %}
        <a href="{% url 'add-recipe' %}">Create</a>
    {% endif %}
    <h2>Recipes</h2>
    <form method="GET">
        <input type="search" name="query" placeholder="Search">
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for recipe in recipe %}
            <a href="/recipe/{{ recipe.RecipeId }}">
                <li>{{ recipe.RecipeName }} ({{ recipe.UserId.username }})</li>
                <form method="POST" action="/add_recipe_to_favourites/">
                    {% csrf_token %}
                    <input type="hidden" name="RecipeId" value="{{ recipe.RecipeId }}">
                    <input type="submit" value="Add to favourites">
                </form>
            </a>
        {% endfor %}
    </ul>

{% endblock %}