{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block titleContent %}
     <h1 class="title text-center h1">New Recipe {{ recipe.RecipeName }}</h1>
    {%if not recipe.RecipeName  %}
    <h2 class="title text-center h3">To add a new recipe, please fill out the following information:</h2>
    {% else %}
    <h2 class="title text-center h3">Add ingredients and Recipe steps:</h2>
    {% endif %}
{% endblock %}

{% block mainContent %}
    <form class="col-sm-6" method="post" action="{{ recipe.RecipeId }}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if recipe.Picture %}
            <img class="img-responsive img-circle rounded" src="{{ recipe.Picture.url }}">
        {% endif %}
        <table class="container" style="background-color: white">
            {{form1 | crispy}}
        </table>

        <br>
        <input class="btn btn-success" type="submit" value="{%if recipe.RecipeName %}Save{% else %}Create{% endif %} recipe"/>
        {%if recipe.RecipeName %}
            <a href="/viewrecipe/{{ recipe.RecipeId }}" style="margin-left:30px">Finish and view recipe</a>
        {% endif %}
    </form>

{%if recipe.RecipeName %}
    <br><br>
    <div style="font-size:18px;width:100px;display:inline-block">Ingredients</div>
    <button class="btn btn-secondary" style="margin-left:30px" onclick="window.location.href='addingredient/{{ recipe.RecipeId }}'">Add Ingredient</button>

    {%if recipe.ingredient_set.all.count > 0 %}

    <table class="styled-table" style="width:90%">
        <tr><th>Quantity</th><th>Units</th><th>Food</th><th>Notes</th></tr>
     {% for field in recipe.ingredient_set.all %}
          <tr id="{{field.IngredientId}}">
              <td>{{field.Quantity}}</td>
              <td>{{field.UnitId}}</td>
              <td>{{field.FoodItemId}}</td>
              <td>{{field.Note}}</td>
          </tr>
     {% endfor %}
    </table>

    {% endif %}

    <br><br>
    <div style="font-size:18px;width:100px;display:inline-block">Steps</div>
    <button class="btn btn-secondary" style="margin-left:30px" onclick="window.location.href='addstep/{{ recipe.RecipeId }}'">Add Step</button>
    {%if recipe.recipesteps_set.all.count > 0 %}
    <table class="styled-table" style="width:90%">
        <tr><th>Duration</th><th>StepNo</th><th>Description</th><th>Tips</th>
     {% for field in recipe.recipesteps_set.all %}
          <tr id="{{field.RatingId}}">
              <td>{{field.Duration}}</td>
              <td>{{field.StepNo}}</td>
              <td>{{field.Description}}</td>
              <td>{{field.Tips}}</td>
          </tr>
     {% endfor %}
    </table>
    {% endif %}
{% endif %}





{% endblock %}


{% block sideContent %}
    <!-- leave empty-->
{% endblock %}