{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block titleContent %}
     <h1 class="title text-center h1">New Ingredient for {{ recipe.RecipeName }}</h1>
{% endblock %}

{% block mainContent %}
    <form class="col-sm-6" method="post" action="/addrecipe/addingredient/{{ recipe.RecipeId }}">
        {% csrf_token %}
        <table>
        {{form2 | crispy}}
        </table>
        <input class="btn btn-secondary" type="submit" value="Add ingredient"/>
    </form>
{% endblock %}


{% block sideContent %}
    <!-- leave empty-->
{% endblock %}