
{% extends 'base.html' %}

{% block titleContent %}
    <h1 class="title text-center h1">Login for registered Users (Mariona)</h1>
{% endblock %}

{% load i18n %}

{% load crispy_forms_tags %}
    {% block mainContent %}



<div class="content">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans "Oh snap!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
            </div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
             {{ form| crispy }}

                  <button type="submit" class="btn btn-secondary">{% trans 'Log in' %}</button>
        </form>
            </div>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[1].elements[2].focus();
        </script>

 {% endblock %}

    {% block sideContent %}

       Some stuff in the side content




    {% endblock %}