{% extends 'base.html' %}


{% block titleContent %}

    <h3>My Profile</h3>

{% endblock %}

{% block mainContent %}


    <!--<div class="row py-5 px-4">-->
    <!--<div class="col-xl-4 col-md-6 col-sm-10 mx-auto">-->

    <!-- Profile widget -->
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">

                        {% if  Profile.Picture %}
                            <img class="img-responsive img-circle rounded"
                                 src="{{ Profile.Picture.url }}" alt="Profile_Picture" style="max-width: 230px;"/>
                        {% else %}
                            <!-- If there is no ProfilePicture show this:-->
                            {% load static %}
                            <img class="img-responsive img-circle rounded"
                                 src="{% static "images/no-profile.svg" %}"
                                 alt="Icon no image existing" style="max-width: 230px;"/>
                        {% endif %}
                        <!--<div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div>-->
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="profile-head">
                        <h5>
                            {{ User.first_name }} {{ User.last_name }} <br> ({{ user.get_username }})
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-secondary btn-block m-2" href="/edit_profile">Edit Profile</a>
                    <a class="btn btn-secondary btn-block m-2" href="/change_password">Change Password</a>
                    <br>
                    <a class="btn btn-danger btn-block m-2" href="javascript:AlertIt();">Delete Profile</a>

                    <script type="text/javascript">
                        function AlertIt() {
                            var answer = confirm("Do you really want to delete your profile? This step can not be undone!")
                            if (answer)
                                window.location = "/delete_profile";
                        }
                    </script>

                </div>
            </div>

            <br>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ User.username }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Firstname</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ User.first_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Lastname</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ User.last_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>E-Mail</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ User.email }}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a class="btn btn-info" href="/myrecipes">Show my recipes</a>
                </div>

            </div>
        </form>
    </div>
    <!-- end Profile widget-->

    <!-- </div>-->
    <!--</div>-->
{% endblock %}

{% block sideContent %}
    <!-- leave empty-->
{% endblock %}