{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block titleContent %}
     <h1 class="title text-center h1">Sign up for the FIM's community newsletter!</h1>
{% endblock %}

{% block mainContent %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
        <h9 class="text-left">Please write your <b>email</b> in the box below...</h9>
            <br>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            <form method="POST">{% csrf_token %}
                <div class="input-group">
                    {% crispy form %}
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit">Subscribe</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
    <br>
    <br>
    <a href="{% url 'newsletter_unsubscribe' %}">To unsubscribe...</a>
{% endblock %}

{% block sideContent %}

{% endblock %}