{% extends 'base.html' %}

{% block titleContent %}
     <h1 class="title text-center h1">{{ recipe.RecipeName }}</h1>
{% endblock %}

{% block mainContent %}
    <h4>About the recipe</h4>
        <table class="styled-table" style="width:90%">
            <h8><b>Amount of energy:</b></h8> {{recipe.Energy}} {{recipe.UnitId.Name}}
            <br>
            <h8><b>Number of people:</b></h8> {{recipe.NumberPeople}}
        </table>

    <h4>Ingredients</h4>
    {%if recipe.ingredient_set.all.count > 0 %}

    <table class="styled-table" style="width:90%">
        <tr><th>Quantity</th><th>Unit</th><th>Ingredient</th><th>Notes</th></tr>
     {% for field in recipe.ingredient_set.all %}
          <tr id="{{field.IngredientId}}">
              <td>{{field.Quantity}}</td>
              <td>{{field.UnitId}}</td>
              <td>{{field.FoodItemId}}</td>
              <td>{{field.Note}}</td>
          </tr>
     {% endfor %}
    </table>

    {% endif %}

    <h4>Preparation</h4>
     {%if recipe.recipesteps_set.all.count > 0 %}
    <table class="styled-table" style="width:90%">
        <tr><th>Step</th><th>Duration (in minutes)</th><th>Description</th><th>Tips</th>
     {% for field in recipe.recipesteps_set.all %}
          <tr id="{{field.RatingId}}">
              <td>{{field.StepNo}}</td>
              <td>{{field.Duration}}</td>
              <td>{{field.Description}}</td>
              <td>{{field.Tips}}</td>
          </tr>
     {% endfor %}
    </table>
    {% endif %}

 <a href="/home">Return to the homepage</a>



{% endblock %}

{% block sideContent %}

{% endblock %}