
{% extends 'base.html' %}

    {% block mainContent %}
        <p>Here comes the Login-formular</p>
        <div class="container" align="left">
            <form action="{%  url "register" %}" method="post">
                {% csrf_token %}
                {{ form }}
            </form>
        </div>

    {% endblock %}

    {% block sideContent %}

        <ol>
            <li>text1</li>
            <li>text2</li>
        </ol>

        <button type="button" class="btn btn-primary">Testbutton</button>




    {% endblock %}