
{% extends 'base.html' %}

    {% block mainContent %}
    <p>Please fill out the following boxes to register:</p>
        <div class="container" align="left">
            <form action="{%  url "register" %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Register">
            </form>
        </div>

    {% endblock %}


    {% block sideContent %}

        <ol>
            <li>text1</li>
            <li>text2</li>
        </ol>

        <button type="button" class="btn btn-primary">Testbutton</button>




    {% endblock %}