<button onclick="toggleSideNav()">&#9776;</button>
<div id="mySidebar" class="sidebar">
    <button onclick="toggleSideNav()">&#9776;</button>
    <a href="#">Starters</a>
    <a href="#">Main Courses</a>
    <a href="#">Desserts</a>
    <a href="#">Others</a>
</div>


<script>

    function toggleSideNav() {
        //alert("Hello! I am an alert box!!");
        var x = document.getElementById("mySidebar");
        var y = document.getElementById("suggestions");
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        if (x.style.width < "225px") {
            x.style.width = "225px";
            x.style.display = "block";
            y.style.marginLeft = "225px";
        }
        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        else {
            x.style.width = "0";
            x.style.display = "none";
            y.style.marginLeft = "0";
        }
    }
</script>



