{% extends 'base.html' %}



{% block titleContent %}
     <h1 class="title text-center h1">Please fill out the following boxes to register</h1>
{% endblock %}

{% block mainContent %}

    <!-- ATTENTION: enctype="multipart/form-data" is needed for upload a file like the picture of the user -->

    <div class="container" align="left">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if register %}
            <input type="submit" value="Register">
            {% else %}
            <input type="submit" value="Update Profile">
            {% endif %}
        </form>
    </div>

{% endblock %}


{% block sideContent %}


{% endblock %}